<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> HOMEPAGE!! </title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1> This is the homepage!! </h1>
        <h2> To move on to the forms page use extension /formpage </h2>
      </div>

    </div>


  </body>
</html>
