<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Users </title>

  </head>
  <body>
    <h1> Here are the users: </h1>
    <div class="Users!">
      {% if users %}

      <ol>
        {% for p in users %}
        <li>User Info:</li>
        <ul>
          <li>First Name: {{p.first_name}}</li>
          <li>Last Name: {{p.last_name}}</li>
          <li>Email Id: {{p.email_id}}</li>
        </ul>

        {% endfor %}
      </ol>

      {% else %}
      <p>NO USERS FOUND!!</p>
      {% endif %}

    </div>
  </body>
</html>
